.dark .slick-dots li button:before {
  color: rgba(255, 255, 255) !important;
  opacity: 0.25 !important;
}
.dark .slick-dots li.slick-active button:before {
  color: rgba(255, 255, 255) !important;
  opacity: 0.75 !important;
}
